.weather-picture {
  margin-top: 5px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-picture img {
  width: 64px; /* Adjust the size of the weather image */
  height: auto;
  border-radius: 10px;
  margin-top: 15px;
  border: 2px solid #ddd; /* Optional border for better separation */
  padding: 5px;
}
