/* Container for the search bar input */
.search-container {
  position: relative;
  width: 280px; /* matches the input width */
}

.search-bar-input-wrapper {
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 280px;
  margin-bottom: 5px;
}

.search-bar-input-wrapper label {
  font-size: 16px;
  color: #333;
  margin-bottom: 8px;
  display: block;
}

.search-bar-input-wrapper input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  color: #333;
  cursor: pointer;
}

.search-bar-input-wrapper input:focus {
  border-color: #007bff;
  outline: none;
}

/* List of cities below the input */
.search-result-wrapper {
  margin: 0;
  padding: 10px;
  list-style: none;
  max-height: 200px;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: absolute;
  width: 280px;
}

ul li {
  padding: 10px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s;
}

/* Hover effect for the list items */
ul li:hover {
  background-color: #f1f1f1;
}

/* Highlight the first item in the list */
ul li:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Add rounded corners to the last item */
ul li:last-child {
  border-bottom: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

ul li.selected {
  background-color: #007bff;
  color: white;
}
